.box-header.with-border
  %h3.box-title Color Pallate
.box-body
  .input-group
    %input#colorinput.form-control{:type => "color", :value => "#f9f4f4"}/
    .input-group-btn
      %button#add-new-color.btn.btn-primary.btn-flat{:type => "button"} Choose Color