.box-header.with-border
  %h4.box-title Leader Board

.box-body
  - if leader_board
    %table.table.table-bordered
      %tr
        %th User
        %th Most Used Color
        %th{:style => "width: 40px"} Total Colors
      - leader_board.each do |key, value|
        %tr
          %td{:title=> "#{key}"} #{key[1..6]}
          %td
            .progress.progress-xs
              .progress-bar{:style => "width: 80%;background-color:#{value[:most_used]}"}
          %td
            #{value[:total_placed_colors]}
  - else
    No Summary Found